#titulo {
	color:tomato;
}

#fondo{
	background-color: rgba(255,0,0);
	/*opacity: 0.3;*/
	height: 200px;
	background: #f00 url('Perro.jpg') repeat-y center bottom / 100px 100px;
	background-size: 100px 100px;
}

/*todos los p que tengan la clase especial se definen asi*/
p.especial{
	color:mediumseagreen;
}
p.texto{
	color:slateblue;
}

/*Todos los p que est[en dentro de un div se definen asi*/
div p{
	color: aquamarine;
}

/*Todas los h2 y h3 que esten dentro de un div se definen asi*/
div h2, div h3{
	color:brown;
}

/*Todo lo que no se haya definido antes se define de esta manera*/
*{
	font-size: 24px;
	/*color:black;*/
}
/*hexadecimal
.color{
	color: #ff0000;
}
RGB
.color{
	color:rgb(0,0,0);
}
*/
.color{
	/*border: 5px red inset;*/
	/*
	dotted
	dashed
	solid
	double
	groove
	ridge
	inset
	outset
	none
	hidden*/
	border-style: solid;
	border-color: blue;
	border-radius: 5px;
	border-width: 2rem;
}

.margen {
	background-color: chocolate;
	margin: 15px; 
	padding: 30px 15px 5px;
	border: solid 1px black;
	height: 100px;
	width: 50px;
	overflow: scroll;
	outline: 1px solid red;
}

.text{
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	text-decoration: overline;
	text-shadow: 3px 5px 5px blue;
	/*      derecha abajo blur color*/
}

a:link {
	color:blueviolet;
}

a:visited{
	color:gray;
}

a:hover{
	color:yellow;
}

a:active{
	color:red;
}

ul {
	background-color: cyan;
	list-style-type: georgian;
	/*padding-left: 0;
	list-style-position: inside;*/
}

table{
	width: 100%;
	border-collapse: collapse; 
}

th, td{
	border:solid 1px #eee;
	padding-left: 5px;
}

th{
	background-color: tomato;
	color: white;
	text-align: left;
}

tr:nth-child(even){
	background-color: #eee;
}

tr:hover{
	background-color: #aaa;
	cursor: pointer;
}

span{
	display: block;
	/*display: none;
	visibility: hidden;*/
	max-width: 300px;
	background-color: #f00;
}

.inline{
	display: inline;
}

#position{
	/*position: fixed; se queda fijo moviendo el mouse*/
	position: sticky;
	left:20px;
	top: 25px;
}

.left{
	float: left;
	width: 200px;
	height: 200px;
}

.right{
	float: right;
}

.container{
	height: 200px;
}

.column{
	margin: 0;
	padding: 10px 0px;
	width: 33.3%;
}
.inline-block{
	/*links de navegacion*/
	display: inline-block;
	height: 55px;
	background-color: red;
}
.center{
	padding: 50px 0;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	background-color: aqua;
}